ALTER TABLE procurement_inventory ADD COLUMN IF NOT EXISTS reserved_quantity NUMERIC DEFAULT 0;
COMMENT ON COLUMN procurement_inventory.reserved_quantity IS 'Quantidade do item atualmente alocada/reservada em pedidos em andamento';
